.filterBar {
  max-width: 900px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.type {
  font-size: 20px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  width: 6em;
  text-align: center;
  display: inline-block;
  border: 0;
  padding: 0.2em 0.2em;
  margin: 0.2em 0.3em;
  border-radius: 0.4em;
  color: white;
  text-transform: capitalize;
}

#normal {
  background-color: #959977;
}
#fire {
  background-color: #ee8130;
}
#fighting {
  background-color: #c22e28;
}
#water {
  background-color: #6390f0;
}
#poison {
  background-color: #a040a0;
}
#electric {
  background-color: #f3c923;
}
#ground {
  background-color: #cfae53;
}
#grass {
  background-color: #7ac74c;
}
#flying {
  background-color: #a890f0;
}
#ice {
  background-color: #96d9d6;
}
#bug {
  background-color: #a8b820;
}
#psychic {
  background-color: #f95587;
}
#rock {
  background-color: #b8a038;
}
#dragon {
  background-color: #7038f8;
}
#ghost {
  background-color: #705898;
}
#dark {
  background-color: #705848;
}
#steel {
  background-color: #b8b8d0;
}
#fairy {
  background-color: #ffb7fa;
}
