* {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  background: rgb(255, 255, 255);
  color: white;
  text-align: center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}

header {
  padding: 10px;
}

#logo {
  width: auto;
  max-height: 200px;
}

input[type="text"] {
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  color: rgb(90, 90, 90);
  font-size: 1.3em;
}

input[type="text"]:focus {
  background-color: #2e2e2e;
  color: #edd700;
}

.clickable {
  cursor:pointer;
}