.pokemonDisplay {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  max-width: 100vw;
}
.pokemonDisplay > li {
  background-color: rgb(24, 24, 24);
  color: rgb(199, 199, 199);
  height: 200px;
  width: 200px;
  border-radius: 25%;
  border: solid 2px black;
  margin: 10px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  height: 190px;
  width: 180px;
}

.pokemonDisplay li:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 15px 4px #000000;
}

.pokemonName {
  text-transform: capitalize;
  margin: 10px;
}

.pokemonImage {
  height: 100px;
  width: 100px;
}
